# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
env/
venv/
ENV/

# Git
.git
.gitignore

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic versions (optional, if you don't want temp cache)
alembic/versions/*.pyc
